{% extends 'navigation.html.twig' %}

{% block content %}

    {% block navigation %}{% endblock %}
    <div id="page-wrapper" style="margin: 0px; border: none;">
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-3">
                <div id="resultMessage"></div>
            </div>
        </div>
        <div class="row" id="consumerName">
            <h1>{{ consumer[0].name }} <i class="fa fa-edit changeConsumerName" data-toggle="modal" data-target="#editConsumerNameModal"></i></h1>
        </div>
        {% if consumer[0].email != "" %}
        <div class="row" id="consumerEmail">
            <h4>{{ consumer[0].email }} <i class="fa fa-edit changeConsumerEmail" data-toggle="modal" data-target="#editConsumerEmailModal"></i></h4>
        </div>
        {% endif %}
        <div class="row" id="consumerCardCount-{{ consumer[0].id }}">
            {% if consumer[0].credit >= 0 %}
                <h1 style="color: #3f903f">{{ consumer[0].credit }} &euro;</h1>
            {% else %}
                <h1 style="color: #c7254e">{{ consumer[0].credit }} &euro;</h1>
            {% endif %}
        </div>
        <div class="row">
            <h4>Update credit</h4>
        </div>
        <div class="row">
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-success changePaid" value="0.1">+0.10 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-success changePaid" value="0.5">+0.50 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-success changePaid" value="1.0">+1.00 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-success changePaid" value="5.0">+5.00 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-success changePaid" value="10.00">+10.00 &euro;</button>
            <button type="button" class="btn btn-success" >?</button>
        </div>
        <div class="row" style="margin-top: 20px;">
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-danger changeExpenses" value="0.1">-0.10 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-danger changeExpenses" value="0.5">-0.50 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-danger changeExpenses" value="1.0">-1.00 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-danger changeExpenses" value="5.0">-5.00 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-danger changeExpenses" value="10.00">-10.00 &euro;</button>
            <button type="button" class="btn btn-danger" >?</button>
        </div>
        <div class="modal fade" id="editConsumerNameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Consumer Name</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
                            <label for="editConsumerName_firstName">First Name: </label><input type="text" id="editConsumerName_firstName" style="margin-left: 15px;">
                        </div>
                        <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
                            <label for="editConsumerName_lastName">Last Name: </label><input type="text" id="editConsumerName_lastName" style="margin-left: 15px;">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="editConsumerNameConfirm" type="button" data-dismiss="modal" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editConsumerEmailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Consumer Email</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
                            <label for="editConsumerEmail">Email: </label><input type="text" id="editConsumerEmail" style="margin-left: 15px;">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="editConsumerEmailConfirm" type="button" data-dismiss="modal" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
