{% extends 'navigation.html.twig' %}

{% block content %}

    {% block navigation %}{% endblock %}
    <div id="page-wrapper" style="margin: 0px; border: none;">
        <div id="resultMessage"></div>
        <div class="row">
            <h1>{{ consumer[0].name }}</h1>
        </div>
        {% if consumer[0].email != "" %}
        <div class="row">
            <h4>{{ consumer[0].email }}</h4>
        </div>
        {% endif %}
        <div class="row" id="consumerCardCount-{{ consumer[0].id }}">
            {% if consumer[0].credit >= 0 %}
                <h1 style="color: #3f903f">{{ consumer[0].credit }} &euro;</h1>
            {% else %}
                <h1 style="color: #c7254e">{{ consumer[0].credit }} &euro;</h1>
            {% endif %}
        </div>
        <div class="row">
            <h4>Update credit</h4>
        </div>
        <div class="row">
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-success changeCredit" value="0.1">+0.10 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-success changeCredit" value="0.5">+0.50 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-success changeCredit" value="1.0">+1.00 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-success changeCredit" value="5.0">+5.00 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-success changeCredit" value="10.00">+10.00 &euro;</button>
            <button type="button" class="btn btn-success" >?</button>
        </div>
        <div class="row" style="margin-top: 20px;">
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-danger changeCredit" value="-0.1">-0.10 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-danger changeCredit" value="-0.5">-0.50 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-danger changeCredit" value="-1.0">-1.00 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-danger changeCredit" value="-5.0">-5.00 &euro;</button>
            <button id="{{ consumer[0].id }}" type="button" class="btn btn-danger changeCredit" value="-10.00">-10.00 &euro;</button>
            <button type="button" class="btn btn-danger" >?</button>
        </div>
    </div>
{% endblock %}
