{% extends 'navigation.html.twig' %}

{% block content %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
    <div id="page-wrapper" style="margin: 0px; border: none;">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Overview</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12"><h3>Cash</h3></div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <div>Cash Position</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="huge">{{  data.cash[0].position }} &euro;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12"><h3>Coffee List</h3></div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="table-responsive">
                    <table id="coffeelist-table" class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Expenses</th>
                            <th>Paid</th>
                            <th>Credit</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% elseif is_granted('ROLE_USER') %}
        <div id="page-wrapper" style="margin: 0px; border: none;">
            <div class="row">
                <h1 class="page-header">
                    Select a product
                </h1>
            </div>
            <div class="row">
                {% for p in product %}
                    <label class="radio-inline">
                        <input type="radio" name="productGroup" value="{{ p.name }}">
                        <h2>{{  p.name }}</h2>
                        {#<img src="{{ asset('build/images/002-coffee-cup.png') }}" height="200" alt="Coffee" style="margin: 20px;">#}
                    </label>
                {% endfor %}
            </div>
            <div class="row">
                <h1 class="page-header">Select your name</h1>
            </div>
            <div class="row">
                {% for c in consumer %}
                    <div class="col-lg-3 consumer-card-buy" style="margin-top: 20px;" id="consumerCard-{{ c.id }}">
                        <div class="consumer-card" style="width: 100%; height: auto">
                            <div class="row">
                                <div class="col-lg-3">
                                    <img src="https://api.adorable.io/avatars/200/{{ c.lastName }}{{ c.firstName }}.png" alt="bla" class="img-thumbnail">
                                </div>
                                <div class="col-lg-8">
                                    <a class="consumerDetails-link" href="#" style="color: rgb(51, 51, 51);">
                                        <div style="font-size: 18px;">
                                            {{ c.firstName }} {{ c.lastName }}
                                        </div>
                                        {%  if (c.paid - c.expenses) >= 0 %}
                                            <div style="font-size: 18px; color: #3f903f">
                                                {{ c.paid - c.expenses }} &euro;
                                            </div>
                                        {% else %}
                                            <div style="font-size: 18px; color: #c7254e">
                                                {{ c.paid - c.expenses }} &euro;
                                            </div>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title" id="buyProductModalTitle"></h1>
                        </div>
                        <div class="modal-body">
                            <input id="countOfCoffee" type="number" value="1" min="1" max="10" step="1"/>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="buyCoffee" type="button" data-dismiss="modal" class="btn btn-primary">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div>Please log in</div>
    {% endif %}
{% endblock %}
