{% extends 'navigation.html.twig' %}

{% block content %}

    {% block navigation %}{% endblock %}
    <div id="page-wrapper" style="margin: 0px; border: none;">
        <div id="resultMessage"></div>
        <div class="row" style="margin-top: 30px;">
            <h1>{{ product[0].name }}</h1>
        </div>
        <div class="row" id="productCardCount-{{ product[0].id }}">
            {% if product[0].count >= 3 %}
                <h1 style="color: #3f903f">{{ product[0].count }} {{ product[0].unit }}</h1>
            {% else %}
                <h1 style="color: #c7254e">{{ product[0].count }} {{ product[0].unit }}</h1>
            {% endif %}
        </div>
        <div class="row">
            <h4>Update</h4>
        </div>
        <div class="row">
            <button id={{ product[0].id }} type="button" class="btn btn-success changeCount" value="1">+1</button>
            <button id={{ product[0].id }} type="button" class="btn btn-success changeCount" value="2">+2</button>
            <button id={{ product[0].id }} type="button" class="btn btn-success changeCount" value="5">+5</button>
            <button id={{ product[0].id }} type="button" class="btn btn-success changeCount" value="10">+10</button>
            <button id={{ product[0].id }} type="button" class="btn btn-success" >?</button>
        </div>
        <div class="row" style="margin-top: 20px;">
            <button id={{ product[0].id }} type="button" class="btn btn-danger changeCount" value="-1">-1</button>
            <button id={{ product[0].id }} type="button" class="btn btn-danger changeCount" value="-2">-2</button>
            <button id={{ product[0].id }} type="button" class="btn btn-danger changeCount" value="-5">-5</button>
            <button id={{ product[0].id }} type="button" class="btn btn-danger changeCount" value="-10">-10</button>
            <button id={{ product[0].id }} type="button" class="btn btn-danger" >?</button>
        </div>
    </div>
{% endblock %}
